@model RosarioWeb.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materia1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materia1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idmateria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
